@using System.Web.Mvc.Html
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    
    @Styles.RenderFormat("<link href=\"{0}\" rel=\"stylesheet\" id=\"themes\"/>", "~/Scripts/jquery_easyui/themes/gray/css")
    @Scripts.Render("~/scripts/jquery")
    @Scripts.Render("~/Scripts/jquery_easyui/jquery.easyui.min.js")
    @Styles.Render("~/Scripts/jquery_easyui/themes/icon")
    @Scripts.Render("~/easyuijs_extensions")
    @Scripts.Render("~/easyuijs_extends")
    <script type="text/javascript" src="~/Scripts/erp.base.js" ></script>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
    </style>
    @*占位符，子页需要定义*@
   @RenderSection("css", false)

</head>
<body @Html.Raw(ViewBag.BodyAttr)>
    @*占位符，输出子页面内容*@
    @RenderBody()
    @*占位符，子页需要定义*@
    @RenderSection("footer",false)
    @Html.Help(this,true)
</body>
</html>
